doctype
html
  head
    title=title
    link(rel="stylesheet" href="css/styles.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js")
    script(src="js/scripts.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/jquery.imagemapster.js")
  body
    div.mainbody
      div(class="createroom")="Create Room"
      - if (values.length)
        -for (var i = 0; i < values.length; i++)
          div(class="lobby" id="lobby"+i.toString())
            div(class="texty")=values[i].roomname
            div(class="texty1")="Players:"
            div(class="texty1")=values[i].players
            div(class="texty1")="/"
            div(class="texty1")=values[i].maxplayers
            div(id="join"+i.toString() class="join")="Join"
    div(class="modal" id="CreateModal")
        div(class="modal-content")
            div(class="modal-header")
                span(class="close")="x"
            div(class="modal-body")
              div.inputs
                div.textmodalcr="Room Name:"
                input.inputname#roomn
              div.inputs
                div.textmodalcr="Number of Players:"
                input.inputnumber#numpl
            div(class="modal-footer")
              div.buttoncr
                div.buttontextcr="Create Room"
