doctype
html
  head

    title=title
    link(rel="stylesheet" href="css/styles.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js")
    script(src="js/scripts.js")
    script(src="/socket.io/socket.io.js")
    -var socket=io();
  body
    div(class="lobby")
      div(class="texty")="Players:"
      div(class="texty")="0"
      div(class="texty")="/2"
      div(class="join" align="center")="Join"
